name: Workflow Lint

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - '.mise.toml'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/**'
      - '.mise.toml'

jobs:
  workflow-lint:
    name: Workflow Lint
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      
    - name: Install mise
      uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2.2.3
      with:
        install: true
        cache: true
        
    - name: Run actionlint
      run: actionlint

  pinact-check:
    name: Check Action Hash Pinning
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      
    - name: Install mise
      uses: jdx/mise-action@13abe502c30c1559a5c37dff303831bab82c9402 # v2.2.3
      with:
        install: true
        cache: true
        
    - name: Check GitHub Actions are pinned to commit SHA
      run: pinact run
