name: Workflow Lint

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - '.mise.toml'
  pull_request:
    branches: [ main ]
    paths:
      - '.github/**'
      - '.mise.toml'

jobs:
  workflow-lint:
    name: Workflow Lint
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      
    - name: Install mise
      uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
      with:
        install: true
        cache: true
        
    - name: Run actionlint
      run: actionlint

  pinact-check:
    name: Check Action Hash Pinning
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      
    - name: Install mise
      uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
      with:
        install: true
        cache: true
        
    - name: Check GitHub Actions are pinned to commit SHA
      run: pinact run
